body {
  margin: 0;
  background: var(--lightMode);
}

html {
  font-size: 100%;
}

:root {
  --head: Mina, sans-serif;
  --body: 'Exo 2', sans-serif;
  --gradient1: linear-gradient(45deg, #14af00 -50%, #00aaa2, #8000a7 125%);
  --gradient2: linear-gradient(
    to bottom,
    var(--lightMode) 20%,
    var(--lightGray)
  );
  --darkMode: #333;
  --lightMode: #e4e4e4;
  --lightGray: #f3f3f3;
  --midGray: #6e6e6e;
  --darkGray: #1a201c;
}
